<p>If your account does not exist yet, this will create it for you:</p>
<form action="/login" method="post">
  User name:<br>
  <input type="text" name="username"><br>
  Password:<br>
  <input type="password" name="password"><br><br>
  <input type="submit" value="Submit">
</form>
